@keyframes moveFromLeft {
    0% {
        opacity: 0;
        transform: translateX(-10rem);
    }
    30% {
        opacity: 0;
    }
    80% {
        transform: translateX(2rem);
    }
    100% {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes moveFromRight {
    0% {
        opacity: 0;
        transform: translateX(10rem);
    }
    30% {
        opacity: 0;
    }
    80% {
        transform: translateX(-2rem);
    }
    100% {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes moveFromDown {
    0% {
        opacity: 0;
        transform: translateY(10rem);
    }
    30% {
        opacity: 0;
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}