.large-hero {
  height: 95vh;
  position: relative;
  // background-image:
  //     linear-gradient(to right bottom,
  //     rgba($cor1, .9),
  //     rgba($cor12, .8)),
  //     url(../images/hero.jpg);
  // background-size: cover;
  // background-position: top;
  // clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 95vh);

  &__content {
    color: #fff;
    text-transform: uppercase;
    text-align: center;
    position: absolute;
    transform: translate(-50%, -50%);
    top: 45%;
    left: 50%;
    &__h1 {
      font-size: 6rem;
      font-weight: 400;
      letter-spacing: 3.5rem;
      display: block;
      animation: moveFromLeft 2s ease-in;
    }
    &__h2 {
      letter-spacing: 1.4rem;
      font-size: 2rem;
      margin-top: -0.5rem;
      font-weight: 700;
      display: block;
      animation: moveFromRight 2s ease-in;
    }
  }
}
