<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>proj - Timer App</title>
  </head>

  <body>
    <h1>Timer app</h1>
    <svg height="200" width="200">
      <circle 
      r="90" 
      cx="100" 
      cy="100"
      fill="transparent"
      stroke ="blue"
      stroke-width="10"
      stroke-dasharray = "562"
      stroke-dashoffset = "-0"
      transform = "rotate(-90 100 100)">

    </svg>

    <form class="mt3">
      <input type="text" id="input" value="30" />
      <button id="start" class="btn">Start</button>
      <button id="pause" class="btn">Pause</button>
    </form>
  </body>
</html>
