<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>proj - Timer App</title>
  </head>

  <body>
    <h1>Timer app</h1>
    <svg height="400" width="400">
      <circle id="circle"
      r="190" 
      cx="200" 
      cy="200"
      fill="transparent"
      stroke ="blue"
      stroke-width="15"
      transform = "rotate(-90 200 200)">

    </svg>

    <form class="mt3">
      <input type="text" id="input" value="30" />
      <button id="start" class="btn">Start</button>
      <button id="pause" class="btn">Pause</button>
    </form>
  </body>
</html>
